@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.hero {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #D7F5DC;
}

.upmenu {
    margin-top: 25px;
    height: 80px;
    display: flex;
    align-items: stretch;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 100px;
}

.hero-content {
    height: 730px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 0 100px;   
}

.buttons {
    width: 50%;
    margin-right: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.hero-text {
    display: flex;
    flex-direction: column;
    width: 40%;
    vertical-align: center;
}

.hero-image {
    height: 100%;   
    width: 60%;
    background: url(images/hero-lady.png) no-repeat;
    display: flex;
}

.partners { 
    width: 100vw;
    height: 120px;
    background-color: #fff;
    position: relative;
    margin-top: -63px;
}

h1 {
    font-size: 50px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 65px;
    width: 80%;
}

.hero-text p {
    font-size: 20px;
    font-weight: 500;
    line-height: 27px;
    width: 80%;
    padding-top: 5px;
}

.get-started-btn {
    width: 175px;
    height: 70px;
    background-color: #20B15A;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    margin-top: 37px;
    border: none;
    border-radius: 16px;
}

.logo {
    font-size: 20px;
    font-weight: 700;
}

.uppercase-orange {
    text-transform: uppercase;
    color: orangered;
}

.buttons a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.main-btn {
    width: 100px;
    height: 44px;
    border: 1px solid #20B15A;
    border-radius: 11px;
    font-weight: 700;
    font-size: 16px;
}

.login {
    background: none;
}

.register {
    background-color: #20B15A;
    color: #fff;
}

.box {
    width: 50px;
    height: 50px;
    position: relative;
    background-color: #48B774;
    border-radius: 10px;
    transform: rotate(45deg);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 18px;
}

.romb {
    width: 10px;
    height: 10px;
    position: relative;
    background-color: #48B774;
    transform: rotate(45deg);
    border-radius: 2px;
}

.orange {
    background-color: #FF8345;
}

.straight {
    transform: rotate(0deg);
}

.num1 {
    left: 138px;
    top: 25px;
}

.num2 {
    left: 195px;
    top: 400px;
}

.num3 {
    left: 480px;
    top: 245px;
}

.num4 {
    left: 500px;
    top: 80px;
}

.num5 {
    left: 710px;
    top: 560px;
}

.straight-i {
    transform: rotate(-45deg);
}

.box-num1 {
    left: 165px;
    top: 100px;
    transform: rotate(20deg);
}

.box-num2 {
    left: 10px;
    top: 505px;
}

.box-num3 {
    left: 400px;
    top: 150px;
}